<div class="header">
  <!--  <p class="header-text">Mango Tracking</p>-->
  <div class="logo-image-item">
    <%= image_tag 'logo-ifarmer.svg' %>
  </div>
</div>

<div class="tree-body">
  <p class="body-header">শুভেচ্ছা বার্তা</p>
  <div class="tree-container">
    <div class="breed">
      <p class="breed-name"><%= @tree.breed_name %> (<%= @tree.tree_id %>)</p>
      <% @item_descriptions.each do |i| %>
        <div class="breed-desc">
          <p><span><%= i.item_name&.titleize %> : </span></p><%= i.description.html_safe %>
        </div>
        <%- if i.images.attached? %>
          <div class="image-container swiper-container">
            <div class="swiper-wrapper">
              <% i.images.each do |img| %>
                <div class="swiper-slide">
                  <div class="image-cell">
                    <%= image_tag img %>
                  </div>
                </div>
              <% end %>
            </div>
            <!--            <div class="swiper-pagination swiper-pagination-bullet"></div>-->
          </div>
        <% end %>
        <hr>
      <% end %>
    </div>
  </div>
</div>